
  <h1>Listing people</h1>

  <table class="ui table segment">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Dob</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.name, person %></td>
          <td><%= person.address %></td>
          <td><%= person.dob %></td>
          <td><%= person.email %></td>
          <td>
            <%= link_to 'Edit', edit_person_path(person) %> |
            <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Person', new_person_path %>
