<style type="text/css">
h1 {
  font-size: 24px;
  color: #0971ce;
  font-weight: normal;
}
body,td,th {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #5C5A5A;
}
a:link {
  color: 25aae1;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #0971ce;
}
a:hover {
  text-decoration: underline;
  color: #1091C7;
}
a:active {
  text-decoration: none;
  color: #0971ce;
}
h2 {
  font-size: 18px;
  color: #11a7bb;
}
</style>

<table width="900" border="0" cellpadding="4">
  <tbody><tr>
    <td width="199" align="left" valign="middle"><%= image_tag("personquestion.png", width:"199", height:"168", alt:"") %></td>
    <td width="350" align="left" valign="top"><table width="345" border="0" cellpadding="4">
      <tbody><tr>
        <td width="25"><%= image_tag("icon.png", width:"25", height:"25", alt:"") %></td>
        <td width="298"><h1>Find a loved one</h1></td>
      </tr>
      <tr>
        <td><%= image_tag("icon.png", width:"25", height:"25", alt:"") %></td>
        <td><h1>I've lost my house</h1></td>
      </tr>
      <tr>
        <td><%= image_tag("icon.png", width:"25", height:"25", alt:"") %></td>
        <td><h1>I've lost my car</h1></td>
      </tr>
      <tr>
        <td><%= image_tag("icon.png", width:"25", height:"25", alt:"") %></td>
        <td><h1>What do I do next?</h1></td>
      </tr>
    </tbody></table></td>
    <td width="319" rowspan="3" align="left" valign="top"><h2>Checklists</h2>
    <p><a href="link.html">&gt; Before a disaster</a><br>
      <a href="link.html">&gt; During a disaster</a><br>
      <a href="link.html">&gt; After a disaster</a></p>
    <h2>For Survivors</h2>
    <p>FirstStop is designed to reduce the stress of those effected by disaster by providing them with the first connection to those agencies who will help them in their recovery process. <a href="lnk.html"><br>
      Read more.</a></p>
    <h2>For Organisations </h2>
    <p>FirstStop is a register of people effected by disaster which enables the easy transfer of basic personal details. <br>
    <a href="lnk.html">Read more.</a>    </p></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="top"><%= image_tag("dots.jpg", width:"419", height:"4", alt:"") %></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><%= image_tag("scanner.png", width:"146", height:"207", alt:"") %></td>
    <td align="left" valign="top"><p>&nbsp;</p>
      <h2>Your first stop QR Code</h2>
    <p>This  will enable you to easily share your details with all the agencies and service providers you need to help you in your post-disaster recovery process. </p>
    <p><a href="link.html">&gt; Register now to be prepared</a></p></td>
  </tr>
</tbody></table>