<%= form_for(@service_provider) do |f| %>
<div class="ui error form segment">
  <div class="ui blue segment">

    <% if @service_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_provider.errors.count, "error") %> prohibited this service_provider from being saved:</h2>

      <ul>
        <% @service_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>

    <div class="actions">
      <%= f.submit %>
    </div>
</div>
<% end %>
