<p id="notice"><%= notice %></p>

<div class="details"><%= @service_provider.name %></div>

<div>
  <div class="ui huge inverted center aligned icon header"><%= image_tag("firststop_logo_sml.png", alt:"") %></div>
  <div class="ui huge red center aligned icon header">Align the QR code to scan.</div>
  <div id="qr_scanner" class="ui huge inverted center aligned icon header" 
      data-enabled="true" 
      data-action="<%= service_provider_path(@service_provider)%>/people/{{uuid}}/edit">
    <video id="video" style="height:200px;" autoplay></video>
    <canvas id="qr-canvas" width="800" height="600" style="display:none;width:800px;height:600px;"></canvas>
  </div>
  <div id="wait" class="ui huge inverted center aligned icon header" data-enabled="true">
    <input type="text" value="0" class="dial"
      data-fgColor="#0971CE"
      data-displayInput="false"
      data-step="1"
      data-min="0"
      data-max="1000">
  </div>
</div>

<div>
  <table class="ui table segment sortable">
    <thead>
      <tr>
        <% @workbench.table_attributes.each do |attribute, label| %>
          <th><%= label %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @service_provider.person.each do |person| %>
        <tr class="<%= person[:status] %>">
          <% @workbench.table_attributes.each do |attribute, label| %>
            <% if attribute == @workbench.status_attribute %>
              <td class="<%= @workbench.statuses[person[attribute]].try(:[], 'css_class') %>"><%= @workbench.statuses[person[attribute]].try(:[], 'label') %></td>
            <% else %>
              <td><%= person[attribute] %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="<%= @workbench.table_attributes.size %>"><%= @service_provider.clients.size %> clients total</th>
      </tr>
    </tfoot>
  </table>

</div>


<script>
$(function() {
  $(".dial").hide();

  $(".dial").bind('go', function() {
    $(".dial").knob();
    $({value: 0})
    .animate({value: 1000}, {
      duration: 500, easing: "swing",
      step: function() {
        $(".dial").val(Math.ceil(this.value)).trigger("change");
      }
    })
  })
});
</script>
