<p id="notice"><%= notice %></p>

<div class="ui blue segment">
  <h3>Basic Details</h3>

  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <small>Name</small>
        <div class="details"><%= @service_provider.name %></div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <small>Services and Supplies</small>
        <div class="details">
          <ul>
            <% @service_provider.services_supplies.split("\n").each do |service| %>
              <li><%= service %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
        <%= link_to 'Back', service_providers_path %> |
        <a id="scan-badge" href="#">Scan Badge</a>
      </div>
    </div>

    <div id="qr_scanner" style="display:none;margin-left:20px;margin-top:20px;" data-enabled="false" data-action="<%= add_person_service_provider_path(@service_provider) %>">
      <video id="video" style="height:200px;" autoplay></video>
      <canvas id="qr-canvas" width="800" height="600" style="display:none;width:800px;height:600px;"></canvas>
    </div>
  </div>

  <table class="ui table segment">
    <thead>
    <tr>
      <th>Name</th>
      <th>DOB</th>
    </tr>
    </thead>

    <tbody>
    <% @service_provider.person.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td><%= person.dob %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= @service_provider.clients.size %> clients total
</div>
