<div class="field">
  <label><%= component.label %></label>
  <select class="ui selection dropdown" name="<%= component.attribute %>" placeholder="<%= component.placeholder %>">
    <option value=""></option>
     <% component.options.each do |key, text| %>
       <option value="<%= key %>" <%if key == component.get_value(person) %>selected<% end %>><%= text %></option>
     <% end %>
  </select>
</div>