<div class="field <%= component.additional_container_class %>">
  <label><%= component.label %></label>
  <input name="<%= component.attribute %>" placeholder="<%= component.placeholder %>" value="<%= component.get_value(person) %>" type="<%= component.type %>">
</div>