<div class="field <%= component.additional_container_class %>">
  <label><%= component.text %></label>
  <input name="<%= component.id %>" placeholder="<%= component.placeholder %>" type="<%= component.type %>">
</div>