<!DOCTYPE html>
<html class="<%= controller.controller_name %>">
<head>
  <title>BlueMountainsFireResponse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/qr_generator.js"></script>

  <script type="text/javascript" src="/qrscan/grid.js"></script>
  <script type="text/javascript" src="/qrscan/version.js"></script>
  <script type="text/javascript" src="/qrscan/detector.js"></script>
  <script type="text/javascript" src="/qrscan/formatinf.js"></script>
  <script type="text/javascript" src="/qrscan/errorlevel.js"></script>
  <script type="text/javascript" src="/qrscan/bitmat.js"></script>
  <script type="text/javascript" src="/qrscan/datablock.js"></script>
  <script type="text/javascript" src="/qrscan/bmparser.js"></script>
  <script type="text/javascript" src="/qrscan/datamask.js"></script>
  <script type="text/javascript" src="/qrscan/rsdecoder.js"></script>
  <script type="text/javascript" src="/qrscan/gf256poly.js"></script>
  <script type="text/javascript" src="/qrscan/gf256.js"></script>
  <script type="text/javascript" src="/qrscan/decoder.js"></script>
  <script type="text/javascript" src="/qrscan/qrcode.js"></script>
  <script type="text/javascript" src="/qrscan/findpat.js"></script>
  <script type="text/javascript" src="/qrscan/alignpat.js"></script>
  <script type="text/javascript" src="/qrscan/databr.js"></script>

</head>
<body>
  <div class="ui one column page grid"><div class="row"><div class="column">
    <%= yield %>
  </div></div></div>

</body>
</html>
